#wrap {
    min-width:1920px;
    font-family:'pertendard', sans-serif;
}
/* 1. 메인 이미지 */
#wrap main {
}
main .ad_wrap {
    width:100%;
    height:100vh;
    position: relative;
    overflow:hidden;
}
main .ad_wrap .swiper {}
main .ad_wrap #adswiper {
    position:relative;
}
main .ad_wrap #adswiper .swiper-wrapper {
    position:relative;
}
main .ad_wrap #adswiper .swiper-wrapper .swiper-slide {
    position:relative;
    width:100%;
    height:950px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
main .ad_wrap #adswiper .swiper-wrapper .swiper-slide.slide1 {
    background-image:url(../images/ad_main/adbnr_001.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
main .ad_wrap #adswiper .swiper-wrapper .swiper-slide.slide2 {}
main .ad_wrap #adswiper .swiper-wrapper .swiper-slide.slide3 {}
main .ad_wrap #adswiper .swiper-wrapper .swiper-slide.slide4 {}
main .ad_wrap #adswiper .swiper-wrapper .swiper-slide.slide5 {}
/* 2. 이벤트배너 */
.eventbnr {
    height:75px;
    width:100%;
    background:#D69697;
    padding:0 230px;
    display:flex;
    align-items:center;
}
.eventbnr .event {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:100%;
    text-align:center;
}
.eventbnr .event a.item {
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.125rem;
}
.eventbnr .event .divider {
    width:1px;
    height:100%;
    background-color:#fff;
}
/* 3. new */
.new_wrap {
    width:100%;
    height:1248px;
    padding:160.5px;
}
.new_wrap h1 {
    font-family: "Noto Serif", serif;
    font-weight:600;
    font-size:2.188rem;
    text-align:center;
    margin-bottom:79px;
}
.new_wrap .new_content {
    display:flex;
    gap:56px;
    justify-content:center;
    align-items:center;
}
.new_wrap .new_content .swiper {}
.new_wrap .new_content #newswiper {
    position:relative;
}
.new_wrap .new_content #newswiper .swiper-wrapper {}
.new_wrap .new_content #newswiper .swiper-wrapper .swiper-slide {
}
.new_wrap .new_content #newswiper .swiper-wrapper .swiper-slide.slide1 {
}
.new_wrap .new_content #newswiper .swiper-wrapper .swiper-slide.slide2 {}
.new_wrap .new_content #newswiper .swiper-wrapper .swiper-slide.slide3 {}
.new_wrap .new_content #newswiper .swiper-wrapper .swiper-slide.slide4 {}
.new_wrap .new_content #newswiper .prev,
.new_wrap .new_content #newswiper .next {
    position:absolute;
}
.new_wrap .new_content #newswiper .prev {
    left:14px;
    bottom:385px;
}
.new_wrap .new_content #newswiper .next {
    right:14px;
    bottom:385px;
}
.new_wrap .new_content .new_products {
}
.new_wrap .new_content .new_products .product_row {
    display:flex;
    gap:76px;
}
.new_wrap .new_content .new_products .product_row .product_card {
    margin-bottom:69px;
}
.new_wrap .new_content .new_products .product_row .product_card > a {
}
.new_wrap .new_content .new_products .product_row .product_card > a img {
    margin-bottom:31px;
}
.new_wrap .new_content .new_products .product_row .product_card .product_title {
    display:flex;
    justify-content:space-between;
    margin-bottom:5px;
    align-items:center;
}
.new_wrap .new_content .new_products .product_row .product_card .product_title .title {
    font-size:0.938rem;
}
.new_wrap .new_content .new_products .product_row .product_card .product_title .cart {}
.new_wrap .new_content .new_products .product_row .product_card .product_title .cart img {}
.new_wrap .new_content .new_products .product_row .product_card .product_price {
}
.new_wrap .new_content .new_products .product_row .product_card .product_price .current_price {
    margin-right:12px;
    font-weight:600;
    font-size:1.188rem;
}
.new_wrap .new_content .new_products .product_row .product_card .product_price .original_price {
    font-size:0.938rem;
    font-weight:300;
}
.new_wrap .new_content .new_products .product_row .product_card .product_boxes {
    margin-top:12px;
    font-size:0.625rem;
    font-weight:500;
    display:flex;
    gap:9px;
}
.new_wrap .new_content .new_products .product_row .product_card .product_boxes .newbox {
    border:1px solid #000;
    background-color:#fff;
    width:33px;
    height:22px;
    padding:5px;
}
.new_wrap .new_content .new_products .product_row .product_card .product_boxes .salebox {
    color:#fff;
    background-color:#401600;
    padding:5px;
    width:58px;
    height:22px;
}
/* 4. list */
.list_wrap {
    display:flex;
    width:100%;
    height:861px;
    background-color:firebrick;
    align-items:start;
    margin-left:126px;
    padding:161px 0;
}
.list_wrap .left_menu {
    margin-right:230px;
    background-color:aliceblue;
}
.list_wrap .list_menu {
    display:flex;
    gap:20px;
    flex-direction:column;
}
.list_wrap .list_menu button {
    font-family: "Albert Sans", sans-serif;
    font-weight:600;
    text-align:left;
    line-height:1.3;
    font-size:1.313rem;
}
.list_wrap .more {
    margin-top:93px;
}
.list_wrap .more .more_btn {
    display:flex;
    gap:3px;
    align-items:center;
}
.list_wrap .more .more_btn span {
}
.list_wrap .more .more_btn span img {}
.list_wrap .swiper {background-color: saddlebrown;}
.list_wrap .swiper#listswiper {
    width:calc(100% - 126px);
    overflow:hidden;
}
.list_wrap .swiper#listswiper .swiper-wrapper {
    display:flex;
}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide {
    display:flex;
    gap:48px;
    width:auto;
    overflow:visible;
    margin-bottom:67px;
}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide {
}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card {
    flex-shrink: 0;
    background-color:pink;
}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card > a {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card > a img {
    margin-bottom:37px;
}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_title {
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:5px;
}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_title .title {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_title .cart {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_title .cart img {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_price {
    margin-bottom:15px;
}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_price span {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_price del {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_boxes {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_boxes .newbox {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_boxes .salebox {}
.list_wrap .swiper#listswiper .swiper-scrollbar {
    height:1px;
    background-color:#d9d9d9;
}
.swiper-scrollbar-drag {
    background-color: #000;
}
/* 5. adbnr */
.adbnr_wrap {
    background-image:url(../images/adbnr_bg/adbnr.jpg);
    width:100%;
    height:350px;
    position:relative;
}
.adbnr_wrap .ad_text {
    position:absolute;
    left:810.5px;
    bottom:63px;
    text-align:center;
}
.adbnr_wrap p {
    margin-bottom:21px;
    line-height:1.5;
    font-weight:300;
}
.adbnr_wrap a {
    border-bottom:1px solid #000;
    font-weight:300;
}
.adbnr_wrap a:hover {
    color:#888;
    border-bottom:1px solid #888;
}
/* 6. collection */
.collection_wrap {
    width:100%;
    height:1150px;
    overflow:hidden;
    text-align:center;
    position:relative;
}
.collection_wrap #collectionSwiper {}
.collection_wrap #collectionSwiper h1 {
    font-size:2.188rem;
    font-weight:600;
    font-family: "Noto Serif", serif;
    margin-bottom:79px;
    margin-top:151px;
}
.collection_wrap #collectionSwiper .swiper-wrapper {}
.collection_wrap #collectionSwiper .swiper-wrapper .swiper-slide {
    display:flex;
    justify-content: center;
    gap:32px;
}
.collection_wrap #collectionSwiper .swiper-wrapper .swiper-slide.slide1 {}
.collection_wrap #collectionSwiper .swiper-wrapper .swiper-slide.slide2 {}
.collection_wrap #collectionSwiper .swiper-wrapper .collect_card {
    width:336px;
    height:872px;
    position:relative;
}
.collection_wrap #collectionSwiper .swiper-wrapper .jan {
    background-image:url(../images/collection/jan.png);
}
.collection_wrap #collectionSwiper .swiper-wrapper .feb {
    background-image:url(../images/collection/feb.png);
}
.collection_wrap #collectionSwiper .swiper-wrapper .mar {
    background-image:url(../images/collection/mar.png);
}
.collection_wrap #collectionSwiper .swiper-wrapper .apr {
    background-image:url(../images/collection/apr.png);
}
.collection_wrap #collectionSwiper .swiper-wrapper .jun {
    background-image:url(../images/collection/jan.png);
}
.collection_wrap #collectionSwiper .swiper-wrapper .jul {
    background-image:url(../images/collection/feb.png);
}
.collection_wrap #collectionSwiper .swiper-wrapper .aug {
    background-image:url(../images/collection/mar.png);
}
.collection_wrap #collectionSwiper .swiper-wrapper .sep {
    background-image:url(../images/collection/apr.png);
}
.collection_wrap #collectionSwiper .swiper-wrapper .collect_card h2 {
    position:absolute;
    left:21px;
    top:443px;
    font-family: "Noto Serif", serif;
    font-weight:500;
    font-size:1.563rem;
}
.collection_wrap #collectionSwiper .swiper-wrapper .collect_card .product_wrap {
    display:flex;
    flex-flow:column nowrap;
    bottom:69px;
    left:23px;
    position:absolute;
    gap:18px;
}
.collection_wrap #collectionSwiper .swiper-wrapper .collect_card .product_wrap .product {
    display:flex;
    align-items:center;
}
.collection_wrap #collectionSwiper .swiper-wrapper .collect_card .product_wrap .product > img {
    border-radius:13px;
    margin-right:13px;
    padding:5px;
    background-color:#fff;
}
.collection_wrap #collectionSwiper .swiper-wrapper .collect_card .product_wrap .product .product_desc {
    display:flex;
    align-items:end;
    justify-content:space-between;
    gap:13px;
    width:189px;
}
.collection_wrap #collectionSwiper .swiper-wrapper .collect_card .product_wrap .product .product_info {
    display:flex;
    flex-flow:column nowrap;
    align-items:start;
}
.collection_wrap #collectionSwiper .swiper-wrapper .collect_card .product_wrap .product .title {
    margin-bottom:10px;
    font-size:0.813rem;
}
.collection_wrap #collectionSwiper .swiper-wrapper .collect_card .product_wrap .product .product_price {}
.collection_wrap #collectionSwiper .swiper-wrapper .collect_card .product_wrap .product .product_price .current_price {
    font-size:0.875rem;
    font-weight:600;
}
.collection_wrap #collectionSwiper .swiper-wrapper .collect_card .product_wrap .product .product_price .original_price {
    font-weight:300;
    font-size:0.75rem;
    color:rgba(64, 22, 0, 45)
}
.collection_wrap #collectionSwiper .swiper-wrapper .collect_card .product_wrap .product_desc a img a {}
.collection_wrap #collectionSwiper .swiper-wrapper .collect_card .product_wrap .product_desc a img {
}
#collectionSwiper .swiper-button-prev,
#collectionSwiper .swiper-button-next {
    position:absolute;  
    top:50%;
    transform:translateY(-50%);
    z-index:10;
}
#collectionSwiper .swiper-button-prev {
    left:152px;
}
#collectionSwiper .swiper-button-next {
    right:152px;
}
#collectionSwiper .swiper-button-prev img,
#collectionSwiper .swiper-button-next img {
    display:block;
    width:40px;
    height:40px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    display:none;
}
/* 7. shorts */
.shorts_wrap {
    text-align:center;
    width:100%;
    height:1100px;
}
.shorts_wrap h1 {
    font-size:2.188rem;
    font-weight:600;
    font-family: "Noto Serif", serif;
    margin-bottom:79px;
    padding-top:130px;
}
.shorts_wrap #shorts_swiper {
    display:flex;
    position:relative;
    padding-bottom:70px;
}
.shorts_wrap #shorts_swiper .swiper-wrapper {
    display:flex;
}
.shorts_wrap #shorts_swiper .swiper-wrapper .swiper-slide {
    display:flex;
    gap:35px;
    width:auto;
    justify-content:center;
}
.shorts_wrap #shorts_swiper .swiper-wrapper .swiper-slide .shorts_card {
    width:360px;
    position:relative;
    border-radius:20px;
    overflow:hidden;
    position:relative;
}
.shorts_wrap #shorts_swiper .swiper-wrapper .swiper-slide .shorts_card img {
}
.shorts_wrap #shorts_swiper .swiper-wrapper .swiper-slide .shorts_card .shorts_play {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:40px;
    height:40px;
    z-index:10;
    display:block;
}
.shorts_wrap #shorts_swiper .swiper-wrapper .swiper-slide .shorts_card .shorts_play img {
    display:block;
    width:100%;
    height:auto;
}
.shorts_wrap #shorts_swiper .swiper-scrollbar {
    position:absolute;
    bottom:0;
    left:240px;
    width:1440px;
    height:1px;
    background:#D5D5D5;
}
.shorts_wrap #shorts_swiper .swiper-scrollbar .swiper-scrollbar-drag {
    background-color:#000;
    height:100%;
    width:100%;
    border-radius:1px;
}
/* 8. store */
.store_wrap {
    width:100%;
    height:1030px;
    display:flex;
    position:relative;
    padding-top:130px;
}
.store_wrap .left_img {
    margin-right:40px;
}
.store_wrap .left_image {
    display:none;
}
.store_wrap .left_image.active {
    display:block;
}
.store_wrap .left_img img {
    width:960px;
    height:900px;
}
.store_wrap .right_content {
    flex:1;
}
.store_wrap .store_tab {
    display:flex;
}
.store_wrap .store_tab .tab_btn {
    font-size:1.25rem;
    font-weight:600;
    margin-right:52px;
    margin-bottom:79px;
}
.store_wrap .store_tab .tab_btn.active {
    color:#D69697;
}
.store_wrap .tab_desc {
}
.store_wrap .tab_content {
    display:none;
}
.store_wrap .tab_content.active {
    display:block;
}
.store_wrap .tab_content h2 {
    font-size:1.875rem;
    font-weight:600;
    margin-bottom:25px;
}
.store_wrap .tab_content > p {
    font-weight:500;
    font-size:0.938rem;
    margin-bottom:63px;
    line-height:2;
}
.store_wrap .tab_content .tab_info {
    display:flex;
    flex-flow:column nowrap;
    gap:11px;
}
.store_wrap .tab_content .tab_info p {
    font-size:0.875rem;
    font-weight:300;
}
.store_wrap .tab_content .tab_info p span {}
.store_wrap .tab_content .tab_info .right_img {
    position:absolute;
    right:238px;
    bottom:50px;
}
.store_wrap .tab_content .tab_info .right_img img {}
/* 9. service_bnr */
.service_wrap {
    background-color:#8C5D5B;
    display:flex;
    width:100%;
    height:80px;
    align-items:center;
}
.service_wrap .notice_wrap {
    display:flex;
    align-items:center;
    width:100%;
    height:100%;
    text-align:center;
    display:flex;
    justify-content:space-between;
    padding:51px;
}
.service_wrap .divider {
    width:1px;
    height:100%;
    background-color:#fff;
}
.service_wrap .notice_wrap * {
    color:#fff;
}
.service_wrap .notice_wrap h3 {
}
.service_wrap .notice_wrap p {}
.service_wrap .notice_wrap .more_btn {
}
.service_wrap .notice_wrap {}
