#wrap {
    min-width:1920px;
    font-family:'pertendard', sans-serif;
}
/* 1. 메인 이미지 */
#wrap main {
}
main .ad_wrap {
    width:100%;
    height:100vh;
    position: relative;
    overflow:hidden;
}
main .ad_wrap .swiper {}
main .ad_wrap #adswiper {
    position:relative;
}
main .ad_wrap #adswiper .swiper-wrapper {
    position:relative;
}
main .ad_wrap #adswiper .swiper-wrapper .swiper-slide {
    position:relative;
    width:100%;
    height:950px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
main .ad_wrap #adswiper .swiper-wrapper .swiper-slide.slide1 {
    background-image:url(../images/ad_main/adbnr_001.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
main .ad_wrap #adswiper .swiper-wrapper .swiper-slide.slide2 {}
main .ad_wrap #adswiper .swiper-wrapper .swiper-slide.slide3 {}
main .ad_wrap #adswiper .swiper-wrapper .swiper-slide.slide4 {}
main .ad_wrap #adswiper .swiper-wrapper .swiper-slide.slide5 {}
/* 2. 이벤트배너 */
.eventbnr {
    height:75px;
    width:100%;
    background:#D69697;
    padding:0 230px;
    display:flex;
    align-items:center;
}
.eventbnr .event {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:100%;
    text-align:center;
}
.eventbnr .event a.item {
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.125rem;
}
.eventbnr .event .divider {
    width:1px;
    height:100%;
    background-color: #fff;
}
/* 3. new */
.new_wrap {
    width:100%;
    height:1248px;
    background-color:khaki;
}
.new_wrap h1 {
    font-family: "Noto Serif", serif;
    font-weight:600;
    font-size:2.188rem;
    text-align:center;
    margin-bottom:79px;
}
.new_wrap .new_content {
    display:flex;
    gap:56px;
    justify-content:center;
    align-items:center;
}
.new_wrap .new_content .swiper {}
.new_wrap .new_content .swiper#newswiper {}
.new_wrap .new_content .swiper#newswiper .swiper-wrapper {}
.new_wrap .new_content .swiper#newswiper .swiper-wrapper .swiper-slide {}
.new_wrap .new_content .swiper#newswiper .swiper-wrapper .swiper-slide.slide1 {}
.new_wrap .new_content .swiper#newswiper .swiper-wrapper .swiper-slide.slide2 {}
.new_wrap .new_content .swiper#newswiper .swiper-wrapper .swiper-slide.slide3 {}
.new_wrap .new_content .swiper#newswiper .swiper-wrapper .swiper-slide.slide4 {}
.new_wrap .new_content .swiper#newswiper .prev {}
.new_wrap .new_content .swiper#newswiper .next {}
.new_wrap .new_content .new_products {}
.new_wrap .new_content .new_products .product_row {
    display:flex;
    gap:76px;
}
.new_wrap .new_content .new_products .product_row .product_card {}
.new_wrap .new_content .new_products .product_row .product_card a {}
.new_wrap .new_content .new_products .product_row .product_card a .product_title {}
.new_wrap .new_content .new_products .product_row .product_card a .product_title .title {}
.new_wrap .new_content .new_products .product_row .product_card a .product_title .cart {}
.new_wrap .new_content .new_products .product_row .product_card a .product_title .cart img {}
.new_wrap .new_content .new_products .product_row .product_card .product_price {}
.new_wrap .new_content .new_products .product_row .product_card .product_price .current_price {}
.new_wrap .new_content .new_products .product_row .product_card .product_price .original_price {}
.new_wrap .new_content .new_products .product_row .product_card .product_boxes {}
.new_wrap .new_content .new_products .product_row .product_card .product_boxes .newbox {}
.new_wrap .new_content .new_products .product_row .product_card .product_boxes .salebox {}
/* 4. list */
.list_wrap {}
.list_wrap .list_menu {}
.list_wrap .list_menu .button {}
.list_wrap .more {}
.list_wrap .more .more_btn {}
.list_wrap .more .more_btn span {}
.list_wrap .more .more_btn span img {}
.list_wrap .swiper {}
.list_wrap .swiper#listswiper {}
.list_wrap .swiper#listswiper .swiper-wrapper {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide.slide1 {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card a {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card a img {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_title {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_title .title {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_title .cart {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_title .cart img {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_price {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_price span {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_price del {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_boxes {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_boxes .newbox {}
.list_wrap .swiper#listswiper .swiper-wrapper .swiper-slide .list_card .product_boxes .salebox {}
.list_wrap .swiper#listswiper .swiper-scrollbar {}
/* 5. adbnr */
.adbnr_wrap {}
.adbnr_wrap p {}
.adbnr_wrap a {}
/* 6. collection */